@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body
{
    /* background-color: var(--colorsecundario); */
    height: 100vh;
    width: 100vw;
    background: rgb(123,61,125);
    background: radial-gradient(circle, rgba(123,61,125,1) 0%, rgba(0,0,0,1) 90%);


}

:root { 
    --colorprimary: #362036 ;
    --colorsecundario: #9b9898;
    --colorcard: #f0e6dfb1;
    --colorrandom: #4e27656f;
    --colorrandom2: #0000003f;
    --font-size-grande: 1.6em;
    --font-size-medio: 1.1em;
    --font-size-peque: 1em;    
}
.colorprimary {
    color: var(--colorprimary);
}

.filter-color {
    filter: invert(14%) sepia(44%) saturate(1070%) hue-rotate(253deg) brightness(93%) contrast(90%);
}

a { 
    text-decoration: none;
}
.li {
    list-style: none;  
}

.center {
   justify-self: center; 
}


.wraper-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 210px;    
    clip-path: circle();
    background-color: #000000;
    z-index: 1;
}

.container-color-movil {
    background-color:var(--colorrandom);
    backdrop-filter: blur(20px);
    position: absolute;
    height: 350px;
    width: 350px;
    z-index: 15;
    border-radius: 50%;
    animation: color2 1.3s forwards  infinite;
}

.color-movil {
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: var(--colorsecundario);
    margin: auto;
    border-radius: 50%;
    z-index: 10;
    animation: color1 2.8s both infinite;
}

@keyframes color2 {
    0%{
        background-color: var(--colorrandom);
    }
    50%{
        background-color: var(--colorrandom2);        
    }
    100%{
        background-color: var(--colorrandom);
    }
}
@keyframes color1 {
    0%{
        background-color: #4a244b;
        height: 150px;
        width: 150px;
    }
    50%{
        background-color: #6d1f71;  
        height: 130px;
        width: 130px;      
    }
    100%{
        background-color: #4a244b;
        height: 150px;
        width: 150px;
    }
}

.img-profile {
    display: grid;
    width: 260px;
    left: 105px;
    z-index: 20;
}

.logo {
    grid-area: logo;
    margin-top: 20px;
    margin-bottom: 30px;
}

.titulo-1 {
    grid-area: titulo-1;
    margin: auto;
    margin-bottom: 20px;
}
.info {
    grid-area: info;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.titulo-contacto {
    grid-area: titulo-contacto;
    margin: auto;
}
.contacto-redes {
    grid-area: contacto-redes;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}
.button {
    grid-area: button;
    display: flex;
    justify-self: center;
    padding: 5px;
    display: grid;
    justify-content: center;
    background-color: #422143;
    color: #f0e6df;
    width: 200px;
    height: 35px;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px #231123;
}


.icon-social {
    width: 80px;
    height: 80px;
    transform: scale(60%);
}

.grid-container {
    display: grid;
    margin: 30px auto;
    padding: 10px;
    max-width: 380px;
    min-width: 328px;
    height: max-content;
    background-color: var(--colorcard); 
    border-radius: 20px;
    box-shadow: 0 0 50px #231123;
    border-top: 1px solid #f0e6df;
    border-left: 1px solid #f0e6df;
    grid-template: 
    "logo logo logo" auto
    "titulo-1 titulo-1 titulo-1" auto
    "info info info" auto
    "titulo-contacto titulo-contacto titulo-contacto" auto
    "contacto-redes contacto-redes contacto-redes" auto
    "button button button" auto/
    auto auto auto;
}

